<div class="row">
  <div class="col-md-3">
    <p><b>Bark: </b><%= simple_format @post.description %></p>
    <p>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Chew up', @post, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', posts_path %>
    </p>
  </div>

  <div class="col-md-9">
    <%= image_tag(@post.picture_url, width: '100%') if @post.picture.present? %>
    <p>Comments</p>
    <% @comments.each do |comment| %>
      <div>
        <br>
        <p><%= comment.body %></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
  </div>
</div>
